<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Accord" version="3.8.0" targetFramework="net461" />
  <package id="Accord.Video" version="3.8.0" targetFramework="net461" />
  <package id="Accord.Video.FFMPEG" version="3.8.0" targetFramework="net461" />
  <package id="AForge" version="2.2.5" targetFramework="net461" />
  <package id="AForge.Video" version="2.2.5" targetFramework="net461" />
  <package id="AForge.Video.DirectShow" version="2.2.5" targetFramework="net461" />
  <package id="CommonServiceLocator" version="2.0.2" targetFramework="net461" />
  <package id="Cyotek.Drawing.BitmapFont" version="1.3.4" targetFramework="net461" />
  <package id="GMap.Net.WPF" version="1.0.0.1" targetFramework="net461" />
  <package id="HelixToolkit" version="2.5.1" targetFramework="net461" />
  <package id="HelixToolkit.Wpf" version="2.5.1" targetFramework="net461" />
  <package id="HelixToolkit.Wpf.SharpDX" version="2.5.1" targetFramework="net461" />
  <package id="MvvmLight" version="5.4.1.1" targetFramework="net461" />
  <package id="MvvmLightLibs" version="5.4.1.1" targetFramework="net461" />
  <package id="SharpDX" version="4.2.0" targetFramework="net461" />
  <package id="SharpDX.D3DCompiler" version="4.2.0" targetFramework="net461" />
  <package id="SharpDX.Direct2D1" version="4.2.0" targetFramework="net461" />
  <package id="SharpDX.Direct3D11" version="4.2.0" targetFramework="net461" />
  <package id="SharpDX.Direct3D9" version="4.2.0" targetFramework="net461" />
  <package id="SharpDX.DXGI" version="4.2.0" targetFramework="net461" />
  <package id="SharpDX.Mathematics" version="4.2.0" targetFramework="net461" />
</packages>